<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.6.5/dist/vuetify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.8.0/dist/leaflet.css"
                           integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
                           crossorigin="" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-size: 14px;
            text-rendering: optimizeSpeed;
        }
        h1 {
            font-size: 26px;
        }
        #logo {
            height: 1.75rem;
            width: 150px;
        }
        #top-header {
            align-items: center;
            padding-bottom: 0;
        }
    </style>
    <title>Weatherd / {% block pagetitle %}{% endblock %}</title>
</head>
<body>

<div id="top-header">
    <nav class="navbar is-dark" role="navigation" aria-label="dropdown navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                <img src="{{ url_for('static', path='/images/logo.svg') }}" title="Logo" id="logo" />
                <h1> / {% block title %}{% endblock %}</h1>
            </div>
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
            </div>
        </div>
    </nav>
</div>

<div class="columns mt-4">
    <div class="column is-narrow" id="main-menu">
    {% block menu %}
            <aside class="menu">
                <p class="menu-label">Interfaces</p>
                <ul class="menu-list">
                    <li><a href="/forecasts/">Forecasts</a></li>
                    <li><a href="/locations/">Locations</a></li>
                    <li><a href="/redoc">API documentation</a></li>
                </ul>
            </aside>
    {% endblock %}
    </div>

    {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.5/dist/vuetify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-chartjs@3.5.1/dist/vue-chartjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
<script type="text/javascript">
Vue.use(Vuetify);
Vue.use(VueResource);
Vue.use(VueChartJs);
</script>

{% block js %}{% endblock %}

</body>
</html>
