{% extends "base.html" %}

{% block pagetitle %}Forecasts{% endblock %}
{% block title %}Forecasts{% endblock %}

{% block content %}
    <div class="column mr-4" id="app">
        <v-app id="vue-app">
            <h1 class="title">Forecasts</h1>
            <div>
                <line-chart :chart-data="chartData" :chart-options="chartOptions" ref="fchart" height="600"></line-chart>

                <v-data-table :headers="tableHeaders" :items="forecasts" :options.sync="tableOptions" dense :footer-props="{itemsPerPageOptions:[50,100,200,500,1000,-1]}">
                    <template v-slot:header.fetched="{ header }">
                        <v-menu ref="fetchedMenu" v-model="fetchedMenu" :close-on-content-click="false" :return-value.sync="fetchedRange" transition="scale-transition" offset-y min-width="auto">
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field v-model="fetchedRange" label="Fetched" v-bind="attrs" v-on="on"></v-text-field>
                            </template>
                            <v-date-picker v-model="fetchedRange" no-title scrollable range>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="fetchedMenu = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.fetchedMenu.save(fetchedRange)" >OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                        [[ header.text ]]
                    </template>
                    <template v-slot:header.forecasted="{ header }">
                        <v-menu ref="forecastedMenu" v-model="forecastedMenu" :close-on-content-click="false" :return-value.sync="forecastedRange" transition="scale-transition" offset-y min-width="auto">
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field v-model="forecastedRange" label="Forecasted" v-bind="attrs" v-on="on"></v-text-field>
                            </template>
                            <v-date-picker v-model="forecastedRange" no-title scrollable range>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="forecastedMenu = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="$refs.forecastedMenu.save(forecastedRange)" >OK</v-btn>
                            </v-date-picker>
                        </v-menu>
                        [[ header.text ]]
                    </template>
                    <template v-slot:header.duration="{ header }" style="width:1%">
                        <v-combobox v-model="durationFilters" :items="durationSelect" label="Durations" multiple outlined dense clearable small-chips></v-combobox>
                        [[ header.text ]]
                    </template>
                    <template v-slot:header.provider_id="{ header }">
                        <v-combobox v-model="providerFilters" :items="providerSelect" label="Providers" multiple outlined dense clearable small-chips></v-combobox>
                        [[ header.text ]]
                    </template>
                    <template v-slot:header.metric_id="{ header }">
                        <v-combobox v-model="metricFilters" :items="metricSelect" label="Metrics" multiple outlined dense clearable small-chips></v-combobox>
                        [[ header.text ]]
                    </template>
                    <template v-slot:header.location_id="{ header }">
                        <v-combobox v-model="locationFilters" :items="locationSelect" label="Locations" multiple outlined dense clearable small-chips></v-combobox>
                        [[ header.text ]]
                    </template>

                    <template v-slot:item.fetched="{ item }">
                        [[ item.fetched.replace(/T/, ' ').replace(/\.\d+$/, '') ]]
                    </template>
                    <template v-slot:item.forecasted="{ item }">
                        [[ item.forecasted.replace(/T/, ' ') ]]
                    </template>
                    <template v-slot:item.duration="{ item }">
                        [[ getDuration(item.duration) ]]
                    </template>
                    <template v-slot:item.provider_id="{ item }">
                        [[ getProvider(item.provider_id).name ]]
                    </template>
                    <template v-slot:item.metric_id="{ item }">
                        [[ getMetric(item.metric_id).name ]]
                    </template>
                    <template v-slot:item.location_id="{ item }">
                        [[ getLocation(item.location_id).name ]]
                    </template>
                    <template v-slot:item.unit="{ item }">
                        [[ getMetric(item.metric_id).unit ]]
                    </template>
                    <template v-slot:item.value="{ item }">
                        [[ Math.round(item.value * 10000) / 10000 ]]
                    </template>
                </v-data-table>
            </div>
        </v-app>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    vuetify: new Vuetify(),
    data: {
        forecasts: [],
        providers: {},
        metrics: {},
        locations: {},
        durations: {},
        tableOptions: {},
        tableTotal: 1000,
        tableLoading: false,
        tableHeaders: [
            {text: 'Fetched', value: 'fetched'},
            {text: 'Forecasted', value: 'forecasted'},
            {text: 'Duration', value: 'duration'},
            {text: 'Provider', value: 'provider_id'},
            {text: 'Location', value: 'location_id'},
            {text: 'Metric', value: 'metric_id'},
            {text: 'Value', value: 'value'},
            {text: 'Unit', value: 'unit'}
        ],
        fetchedMenu: null,
        forecastedMenu: null,
        fetchedRange: ['2022-07-03', '2022-07-04'],
        forecastedRange: ['2022-07-01', '2022-07-07'],
        providerFilters: [],
        providerSelect: [],
        metricFilters: [],
        metricSelect: [],
        locationFilters: [],
        locationSelect: [],
        durationFilters: [{'text': '1h', 'value': 3600}],
        durationSelect: [],
        forecastQuery: {},

        chartOptions: {
            responsive: true,
            maintainAspectRatio: false,
            tension: 0.2,
            borderWidth: 1,
            pointRadius: 1,
            parsing: {
                xAxisKey: 'forecasted',
                yAxisKey: 'value',
            },
        },

    },
    computed: {
        isLoaded() {
            return this.durationSelect.length > 0
                && this.providerSelect.length > 0
                && this.metricSelect.length > 0
                && this.locationSelect.length > 0
                && this.forecasts.length > 0
        },
        chartData() {
            var data = {'datasets': []}; 
            var sets = {};
            for (i = 0; i < this.forecasts.length; i++) {
                var item = this.forecasts[i];
                var key = item.duration + '_' + item.provider_id + '_' + item.metric_id + '_' + item.location_id;
                if (sets[key]) {
                    sets[key].push(item);
                } else {
                    sets[key] = [item];
                }
            }
            for(var key in sets) {
                var item = sets[key][0];
                var color = this.getRandomColor();
                data.datasets.push({
                    label: this.getProvider(item.provider_id).name + ' '
                        + this.getLocation(item.location_id).name + ' '
                        + this.getDuration(item.duration) + ' '
                        + this.getMetric(item.metric_id).name,
                    backgroundColor: color,
                    borderColor: color,
                    data: sets[key],
                });
            }
            return data;
        },
    },
    watch: {
        isLoaded(val) {
            this.fetchForecasts();
        },
        fetchedRange(val) {
            if (this.fetchedRange.length == 2) {
                this.fetchForecasts();
            }
        },
        forecastedRange(val) {
            if (this.forecastedRange.length == 2) {
                this.fetchForecasts();
            }
        },
        durationFilters(val) {
            this.fetchForecasts();
        },
        providerFilters(val) {
            this.fetchForecasts();
        },
        metricFilters(val) {
            this.fetchForecasts();
        },
        locationFilters(val) {
            this.fetchForecasts();
        },
    },
    mounted() {
        this.fetchProviders();
        this.fetchMetrics();
        this.fetchLocations();
        this.fetchDurations();
        this.fetchForecasts();
	},
    methods: {
        fetchForecasts() {
            this.buildForecastsQuery(this.durationFilters, 'durations');
            this.buildForecastsQuery(this.providerFilters, 'providers');
            this.buildForecastsQuery(this.metricFilters, 'metrics');
            this.buildForecastsQuery(this.locationFilters, 'locations');
            if (this.fetchedRange.length == 2) {
                this.forecastQuery['fetched_start'] = this.fetchedRange[0];
                this.forecastQuery['fetched_end'] = this.fetchedRange[1];
            }
            if (this.forecastedRange.length == 2) {
                this.forecastQuery['forecasted_start'] = this.forecastedRange[0];
                this.forecastQuery['forecasted_end'] = this.forecastedRange[1];
            }
            var params = new URLSearchParams(this.forecastQuery);
            this.$http.get('/forecasts/api/forecasts/?' + params.toString()).then((response) => {
                this.forecasts = response.body;
                this.renderChart();
            });
        },
        buildForecastsQuery(filters, param) {
            if (filters.length === 0) {
                return;
            }
            var values = [];
            for(var key in filters) {
                values.push(filters[key].value);
            }
            this.forecastQuery[param] = values.join(',');
        },
        fetchProviders() {
            this.$http.get('/forecasts/api/providers/').then((response) => {
                this.buildHeadersAndFilters(response.body, this.providers, this.providerSelect, this.providerFilters);
            })
        },
        fetchMetrics() {
            this.$http.get('/forecasts/api/metrics/').then((response) => {
                this.buildHeadersAndFilters(response.body, this.metrics, this.metricSelect, this.metricFilters);
            })
        },
        fetchLocations() {
            this.$http.get('/forecasts/api/locations/').then((response) => {
                this.buildHeadersAndFilters(response.body, this.locations, this.locationSelect, this.locationFilters);
            })
        },
        fetchDurations() {
            this.$http.get('/forecasts/api/durations/').then((response) => {
                for (i = 0; i < response.body.length; i++) {
                    var item = response.body[i];
                    this.durations[item] = this.getDuration(item);
                    this.durationSelect.push({
                        'value': item,
                        'text': this.getDuration(item),
                    });
                };
                this.renderChart();
            })
        },
        buildHeadersAndFilters(items, header, select, filter) {
            for (i = 0; i < items.length; i++) {
                header[items[i].id] = items[i];
                var option = {
                    'value': items[i]['id'],
                    'text': items[i]['name'],
                };
                select.push(option);
                if (i == 0) {
                    filter.push(option);
                }
            };
            this.renderChart();
        },
        renderChart() {
            this.$refs.fchart.renderChart(this.chartData, this.chartOptions);
        },
        getProvider(providerId) {
            return this.providers[providerId];
        },
        getMetric(metricId) {
            return this.metrics[metricId];
        },
        getLocation(locationId) {
            return this.locations[locationId];
        },
        getDuration(duration) {
            return duration / 3600 + 'h';
        },
        getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    },
});

Vue.component('line-chart', {
    extends: VueChartJs.Line,
})
</script>
{% endblock %}
