{% extends "base.html" %}

{% block pagetitle %}Locations{% endblock %}
{% block title %}Locations{% endblock %}

{% block content %}
    <style>
        #locations-map { height: 600px; }
    </style>
    <div class="column mr-4" id="app">
        <v-app id="vue-app">
            <h1 class="title">Locations</h2>
                <div id="locations-map"></div>
            <div class="box">
                <v-data-table :items="locations" :headers="tableHeaders" :options.sync="tableOptions">
                </v-data-table>
            </div>
        </v-app>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    vuetify: new Vuetify(),
    data: {
        locations: [],
        locationsMap: null,
        markers: [],
        tableOptions: {
            'itemsPerPage': 50,
        },
        tableHeaders: [
            {text: 'ID', value: 'id'},
            {text: 'Name', value: 'name'},
            {text: 'Latitude', value: 'latitude'},
            {text: 'Longitude', value: 'longitude'},
            {text: 'Time zone', value: 'tz'},
            {text: 'Is enabled', value: 'is_enabled'},
        ],
    },
    watch: {
        locations(val) {
            this.addMapMarkers();
        }
    },
    mounted() {
        this.fetchLocations();
        this.initializeMap();
	},
    methods: {
        fetchLocations() {
            this.$http.get('/locations/api/locations/').then((response) => {
                this.locations = response.body;
            })
        },
        initializeMap() {
            this.locationsMap = L.map('locations-map').setView([-7, -20], 4);
            //L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            //L.tileLayer('https://tile.thunderforest.com/landscape/{z}/{x}/{y}.png', {
            //L.tileLayer('https://api.maptiler.com/maps/pastel/{z}/{x}/{y}.png', {
            //L.tileLayer('http://c.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg', {
            L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenTopoMap'
            }).addTo(this.locationsMap);
        },
        addMapMarkers() {
            for (i = 0; i < this.locations.length; i++) {
                loc = this.locations[i];
                console.log('marker: ', loc);
                var marker = L.marker([loc.latitude, loc.longitude]).addTo(this.locationsMap);
                marker.bindPopup('<b>' + loc.name + '</b><br />' + loc.latitude + ', ' + loc.longitude);
                this.markers.push(marker);
            }
        },

    },
});
</script>
{% endblock %}
