{% extends "base.html" %}

{% block pagetitle %}Welcome{% endblock %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="column mr-4" id="app">
        <h1 class="title">Welcome to Weatherd</h1>
        <p>Please select a tool in the menu.</p>
    </div>
{% endblock %}
